<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ashishvz.rcubsyllabus">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/syllabus"
        android:label="@string/app_name"
        android:roundIcon="@drawable/syllabus"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Splashscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="com.example.ashishvz.rcubsyllabus.MainActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Firstsem" />
        <activity android:name=".Secondsem" />
        <activity android:name=".Thirdsem" />
        <activity android:name=".Fourthsem" />
        <activity android:name=".Fifthsem" />
        <activity android:name=".Sixthsem" />
        <activity android:name=".First1" />
        <activity android:name=".First2" />
        <activity android:name=".First3" />
        <activity android:name=".First4" />
        <activity android:name=".First5" />
        <activity android:name=".First6" />
        <activity android:name=".Second1" />
        <activity android:name=".Second2" />
        <activity android:name=".Second3" />
        <activity android:name=".Second4" />
        <activity android:name=".Second5" />
        <activity android:name=".Second6" />
        <activity android:name=".Third1" />
        <activity android:name=".Third2" />
        <activity android:name=".Third3" />
        <activity android:name=".Third4" />
        <activity android:name=".Third5" />
        <activity android:name=".Fourth1" />
        <activity android:name=".Fourth2" />
        <activity android:name=".Fourth3" />
        <activity android:name=".Fourth4" />
        <activity android:name=".Fourth5" />
        <activity android:name=".Fifth1" />
        <activity android:name=".Fifth2" />
        <activity android:name=".Fifth3" />
        <activity android:name=".Fifth4" />
        <activity android:name=".Fifth5" />
        <activity android:name=".Sixth1" />
        <activity android:name=".Sixth2" />
        <activity android:name=".Sixth3" />
        <activity android:name=".Sixth4" />
        <activity android:name=".Sixth5"></activity>
    </application>

</manifest>